# Proyecto 1 
 Juan Camilo Gómez-202220238
 
 Jerónimo Rueda-202223775

### Librerias

In [2]:

import numpy as np
import pandas as pd

## Datos

In [3]:
df = pd.read_csv("Saber 11 Datos Valle.csv")

df.head()

,periodo,estu_tipodocumento,estu_consecutivo,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_depto_ubicacion,...,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
0,20224,TI,SB11202240052447,URBANO,NaN,A,NaN,1.760018e+11,1.760018e+11,76,...,No,Si,Si,A1,54.0,48.0,33.0,43.0,48.0,219.0
1,20224,TI,SB11202240057782,URBANO,N,A,TÉCNICO/ACADÉMICO,1.761110e+11,1.761110e+11,76,...,No,NaN,No,A-,44.0,52.0,37.0,37.0,42.0,211.0
2,20224,TI,SB11202240151458,URBANO,N,A,TÉCNICO/ACADÉMICO,1.763640e+11,1.763640e+11,76,...,No,Si,Si,A2,64.0,54.0,49.0,54.0,54.0,268.0
3,20224,TI,SB11202240225511,URBANO,NaN,A,ACADÉMICO,1.766060e+11,1.766060e+11,76,...,NaN,NaN,NaN,A-,46.0,43.0,54.0,49.0,56.0,251.0
4,20224,TI,SB11202240427250,URBANO,N,A,ACADÉMICO,3.760010e+11,3.760010e+11,76,...,Si,Si,No,A-,39.0,19.0,42.0,38.0,45.0,181.0

### Atributos

In [4]:
df.shape

(642592, 51)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642592 entries, 0 to 642591
Data columns (total 51 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   periodo                        642592 non-null  int64
 1   estu_tipodocumento             642592 non-null  object
 2   estu_consecutivo               642592 non-null  object
 3   cole_area_ubicacion            642262 non-null  object
 4   cole_bilingue                  577678 non-null  object
 5   cole_calendario                642506 non-null  object
 6   cole_caracter                  633985 non-null  object
 7   cole_cod_dane_establecimiento  642018 non-null  float64
 8   cole_cod_dane_sede             642505 non-null  float64
 9   cole_cod_depto_ubicacion       642592 non-null  int64
 10  cole_cod_mcpio_ubicacion       642592 non-null  int64
 11  cole_codigo_icfes              640838 non-null  float64
 12  cole_depto_ubicacion           642592 non-null  object
 13  cole_genero                    642592 non-null  object
 14  cole_jornada                   642592 non-null  object
 15  cole_mcpio_ubicacion           642592 non-null  object
 16  cole_naturaleza                642592 non-null  object
 17  cole_nombre_establecimiento    642592 non-null  object
 18  cole_nombre_sede               642592 non-null  object
 19  cole_sede_principal            642592 non-null  object
 20  estu_cod_depto_presentacion    642564 non-null  float64
 21  estu_cod_mcpio_presentacion    642564 non-null  float64
 22  estu_cod_reside_depto          638319 non-null  float64
 23  estu_cod_reside_mcpio          638319 non-null  float64
 24  estu_depto_presentacion        642564 non-null  object
 25  estu_depto_reside              638319 non-null  object
 26  estu_estadoinvestigacion       642592 non-null  object
 27  estu_estudiante                642592 non-null  object
 28  estu_fechanacimiento           642592 non-null  object
 29  estu_genero                    642316 non-null  object
 30  estu_mcpio_presentacion        642564 non-null  object
 31  estu_mcpio_reside              638319 non-null  object
 32  estu_nacionalidad              642592 non-null  object
 33  estu_pais_reside               642592 non-null  object
 34  estu_privado_libertad          642592 non-null  object
 35  fami_cuartoshogar              627244 non-null  object
 36  fami_educacionmadre            618268 non-null  object
 37  fami_educacionpadre            618249 non-null  object
 38  fami_estratovivienda           619555 non-null  object
 39  fami_personashogar             627188 non-null  object
 40  fami_tieneautomovil            626567 non-null  object
 41  fami_tienecomputador           624205 non-null  object
 42  fami_tieneinternet             620991 non-null  object
 43  fami_tienelavadora             627247 non-null  object
 44  desemp_ingles                  642419 non-null  object
 45  punt_ingles                    642478 non-null  float64
 46  punt_matematicas               642592 non-null  float64
 47  punt_sociales_ciudadanas       387831 non-null  float64
 48  punt_c_naturales               387831 non-null  float64
 49  punt_lectura_critica           387831 non-null  float64
 50  punt_global                    387831 non-null  float64
dtypes: float64(13), int64(3), object(35)
memory usage: 250.0+ MB

## Columnas y Ejemplo

In [9]:
columnas=df.columns
for i in columnas:
    print(f"Columna:{i} , Ejemplo: {df[i][2]}")

Columna:periodo , Ejemplo: 20224
Columna:estu_tipodocumento , Ejemplo: TI
Columna:estu_consecutivo , Ejemplo: SB11202240151458
Columna:cole_area_ubicacion , Ejemplo: URBANO
Columna:cole_bilingue , Ejemplo: N
Columna:cole_calendario , Ejemplo: A
Columna:cole_caracter , Ejemplo: TÉCNICO/ACADÉMICO
Columna:cole_cod_dane_establecimiento , Ejemplo: 176364001313.0
Columna:cole_cod_dane_sede , Ejemplo: 176364001313.0
Columna:cole_cod_depto_ubicacion , Ejemplo: 76
Columna:cole_cod_mcpio_ubicacion , Ejemplo: 76364
Columna:cole_codigo_icfes , Ejemplo: 671156.0
Columna:cole_depto_ubicacion , Ejemplo: VALLE
Columna:cole_genero , Ejemplo: MIXTO
Columna:cole_jornada , Ejemplo: UNICA
Columna:cole_mcpio_ubicacion , Ejemplo: JAMUNDÍ
Columna:cole_naturaleza , Ejemplo: OFICIAL
Columna:cole_nombre_establecimiento , Ejemplo: INSTITUCION EDUCATIVA TÉCNICA INDUSTRIAL ESPAÑA
Columna:cole_nombre_sede , Ejemplo: TÉCNICA INDUSTRIAL ESPAÑA-SEDE PRINCIPAL
Columna:cole_sede_principal , Ejemplo: S
Columna:estu_cod_depto_presentacion , Ejemplo: 76.0
Columna:estu_cod_mcpio_presentacion , Ejemplo: 76364.0
Columna:estu_cod_reside_depto , Ejemplo: 76.0
Columna:estu_cod_reside_mcpio , Ejemplo: 76364.0
Columna:estu_depto_presentacion , Ejemplo: VALLE
Columna:estu_depto_reside , Ejemplo: VALLE
Columna:estu_estadoinvestigacion , Ejemplo: PUBLICAR
Columna:estu_estudiante , Ejemplo: ESTUDIANTE
Columna:estu_fechanacimiento , Ejemplo: 13/01/2006
Columna:estu_genero , Ejemplo: F
Columna:estu_mcpio_presentacion , Ejemplo: JAMUNDÍ
Columna:estu_mcpio_reside , Ejemplo: JAMUNDÍ
Columna:estu_nacionalidad , Ejemplo: COLOMBIA
Columna:estu_pais_reside , Ejemplo: COLOMBIA
Columna:estu_privado_libertad , Ejemplo: N
Columna:fami_cuartoshogar , Ejemplo: Tres
Columna:fami_educacionmadre , Ejemplo: Educación profesional completa
Columna:fami_educacionpadre , Ejemplo: Secundaria (Bachillerato) completa
Columna:fami_estratovivienda , Ejemplo: Estrato 2
Columna:fami_personashogar , Ejemplo: 3 a 4
Columna:fami_tieneautomovil , Ejemplo: Si
Columna:fami_tienecomputador , Ejemplo: No
Columna:fami_tieneinternet , Ejemplo: Si
Columna:fami_tienelavadora , Ejemplo: Si
Columna:desemp_ingles , Ejemplo: A2
Columna:punt_ingles , Ejemplo: 64.0
Columna:punt_matematicas , Ejemplo: 54.0
Columna:punt_sociales_ciudadanas , Ejemplo: 49.0
Columna:punt_c_naturales , Ejemplo: 54.0
Columna:punt_lectura_critica , Ejemplo: 54.0
Columna:punt_global , Ejemplo: 268.0